@model List<Muebles_JJ.Infrastructure.Venta>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutUsuario.cshtml";
}


<div class="row" style="background-color:white;">
    <div class="col-12">
        <h1>Consulta Ficha Producción</h1>
    </div>
</div>
<div class="row">
    <div class="col-12" style="background-color:white;display: inline-flex;justify-content: center;">
        <table id="tableVenta" class="table table-hover">
            <thead>
                <tr>
                    <th>Id factura</th>
                    <th>Tipo Documento</th>
                    <th>Documento</th>
                    <th>Nombre</th>
                    <th>Fecha Venta</th>
                    <th>Fecha Entrega</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    List<Muebles_JJ.Infrastructure.Documento> listDocumentos = (List<Muebles_JJ.Infrastructure.Documento>)ViewBag.Documento;
                <tr>
                    <td>@Html.Raw(item.IdVenta)</td>
                    <td>@Html.Raw(listDocumentos.Where(x => x.IdDocumento == item.IdDocumentoFk).FirstOrDefault().Tipo)</td>
                    <td>@Html.Raw(item.DocumentoCliente)</td>
                    <td>@Html.Raw(item.NombreCliente)</td>
                    <td>@Html.Raw(item.FechaVenta)</td>
                    <td>@Html.Raw(item.FechaEntrega)</td>
                    <td>
                        <a asp-action="GenerarFicha" class="btn btn-outline-dark" asp-route-IdVenta="@item.IdVenta">Ficha Producción</a>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#tableVenta').DataTable();
    });
</script>

